@import url('../Card/card.css');
.grid-2-col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.grid-3-col{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
@media (max-width:1000px){
    .grid-3-col{
        grid-template-columns: auto auto;
    }
}

@media (max-width:700px){
    .grid-2-col{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-3-col{
        grid-template-columns: auto;
    }
}