@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import url('../styles.css');
/* :root{
    --primary-color:rgb(97, 11, 109);
    --secondary-color:rgb(58, 56, 56);
    --font-primary-color:white;
    --primary-hover:rgb(78, 14, 87);
    --secondary-hover:rgb(49, 49, 49);
    --bg-color:rgb(45, 54, 54);
    --body-background:rgb(56, 56, 56);
    --font--secondary-color:rgb(219, 217, 217);
}
 */

/* navbar */

a{
    color:var(--secondary-color);
    font-weight: 600;
}
li{
    list-style: none;
}
header{
    background-color: var(--bg-color);
    position: sticky
  
}
.active-tab{
    color : var(--primary-color);
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap:2rem;
    font-weight: bold;
}
.nav-left li a{
    color: var(--font-primary-color);
    /* font-weight: bold; */
}
.brand{
    cursor: pointer;
    /* margin-right: auto; */
    font-style: italic;
    color:var(--font-primary-color);
    font-weight: bolder;
}

.nav-left{
    display:flex;
    gap:2rem;
}
.nav-left li a{
    transition: all 0.3s ease 0s;;
}

.btn{
    padding: 9px 20px;
    border-radius: 0.5rem ;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;;
    font-weight: bold;
    color: var(--font-primary-color);
  
}
button:hover{
    background-color: var(--primary-hover);
}

/* side bar */

.main-container{
    display: flex;
    gap:5rem;
    padding: 5rem;

}
.side-content{
    display: flex;
    flex-direction: column;
    gap:3rem;

}

.side-title{
    margin-bottom:1rem;
    font-weight: 700;
}
.side-sublist li{
    margin-bottom:1rem;
   font-weight: 600;
}



/* main content */
.main-content{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 2rem;

}
.main-content-title{
    color: var(--secondary-color);
    margin-bottom:1rem;
    font-weight: bolder;
    font-size: 2rem;
}
.main-content-subtitle{
    line-height: 2rem;
    font-size: large;
}
.component-display{
    background-color: var(--font-primary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 50rem; */
}
.component-code{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.to-navigate{
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
}
.copyright {
    font-size: 0.7rem;
}
.center{
    text-align: center;
    margin: auto;
}

@media(max-width:700px){
    .side-content{
        display: none;
    }
}